<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 
 
        <table id="table-enq">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Name</th>
                <th>Course</th>
                <th>Number</th>
                <th>Enquiry</th>
                <th>Status</th>
                <th>Mode</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <tr th:each="enq : ${enquiries}">
                <td th:text="${enqStat.index}  +1  "></td>
                <td th:text="${enq.courseName}"></td>
                <td th:text="${enq.studentName}"></td>
                <td th:text="${enq.classMode}"></td>
                <td th:text="${enq.phno}"></td>
                <td th:text="${enq.enqStatus}"></td>
                <td th:text="${enq.dateCreated}"></td>
                <td><a th:href="@{/edit}">Edit</a></td>
                
            </tr>
           
        </tbody>
    </table>
 
 
</body>
</html>